<!-- <div class="menu-locatario">
    <div class="row">
        <ul class="nav " style="width: 50%; padding-left: 05%;">
            <span class="navbar-brand">Locatário</span>
        </ul>
        <ul class="nav justify-content-end" style="width: 50%;">
            <li class="nav-item">
                <a class="nav-link active" href="#" title="Adicionar"  data-toggle="modal" data-target="#modalCadastrarLocatario">
                    <span class="material-icons">add_circle_outline</span>
                </a>
            </li>
        </ul>
    </div>
</div> -->

<menu-administracao [componentNavegacaoMenu]="componentNavegacaoMenu" (emitterNewInstanceLocatario)="receberEvento()"></menu-administracao>

<locatario-listar></locatario-listar>

<modal-cadastrar-locatario
    [telaDadosLocatario]="telaDadosLocatario"
    [telaContatoLocatario]="telaContatoLocatario"
    [btnAvancar]="btnAvancar"
    [btnSalvar]="btnSalvar"
    [locatario]="locatario"
    [usuario]="usuario">
</modal-cadastrar-locatario>