<menu-administracao [componentNavegacaoMenu]="componentNavegacaoMenu"
    (emitterNewInstanceObjectImovel)="receberEvento()"></menu-administracao>

<div class="row">
    <div class="col-sm-12">
        <details *ngFor="let item of listaEnderecosAgrupados" (click)="listarImoveisEnderecoEspecificado(item)" id="{{montarId(item.endereco)}}">
            <summary>{{ item.endereco }} - {{ item.bairro }}/{{ item.cidade }}</summary>
            <table class="table table-sm table-info">
                <thead>
                    <tr>
                        <th>Complemento</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let imovel of imoveis">
                        <td>{{imovel.complemento}}</td>
                        <td>{{imovel.statusImovel}}</td>
                        <td title="Abrir Unidade" (click)="abrirDetalheImovel(imovel.id)" >
                            <span class="material-icons selecionavel" >open_in_browser</span>
                        </td>
                        <td title="Adicionar Locatario" *ngIf="imovel.statusImovel === 'DISPONIVEL'" (click)="abrirModal('#modalAdicionarLocatario', imovel)">
                            <span class="material-icons selecionavel"> person_add</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </details>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAdicionarLocatario" tabindex="-1" role="dialog" aria-labelledby="modalAdicionarLocatario"
	aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalAdicionarLocatario">Adicionar Locatário</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

            <div class="modal-body" *ngIf="modalTela1">
                <div class="row">
                    <div class="col-sm-5">
                        <p>Lista de locatários sem vínculos com imóveis</p>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <p>
                            Prováveis Locatários da unidade <br>
                            <b> {{ imovelSelecionadoProvavelLocatario.endereco }} {{ imovelSelecionadoProvavelLocatario.complemento }} </b>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="div-provaveis-locatarios">
                            <ul>
                                <li
                                    *ngFor="let item of listaProvaveisLocatarios"
                                    [ngClass]="{ 'provavel-locatario-selecionado' : item === locatarioSelecionado }"
                                    (click)="selecionarProvavelLocatario(item)">{{item.nome}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" (click)="adicionarProvavelLocatario(locatarioSelecionado)">
                            <span class="material-icons">chevron_right</span>
                        </button>
                        <br>
                        <button type="button" class="btn btn-primary" (click)="removerProvavelLocatario(locatarioSelecionado)">
                            <span class="material-icons">chevron_left</span>
                        </button>
                    </div>
                    <div class="col-sm-5">
                        <div class="div-provaveis-locatarios">
                            <ul>
                                <li
                                    *ngFor="let item of listaProvaveisLocatarioSelecionado"
                                    [ngClass]="{ 'provavel-locatario-selecionado' : item === locatarioSelecionado }"
                                    (click)="selecionarProvavelLocatario(item)">{{item.nome}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="modalTela2">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="descricao">Descricao da despesa</label>
                            <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="despesa.nome">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="valorDespesa">Valor</label>
                            <input type="text" class="form-control" id="valorDespesa" name="valorDespesa" [(ngModel)]="despesa.valor">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="anoMesReferencia">Ano/Mês Referência</label>
                            <input type="text" class="form-control" id="anoMesReferencia" name="anoMesReferencia" [(ngModel)]="despesa.anoMesReferencia">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="dataVencimento">Data Vencimento</label>
                            <input type="text" class="form-control" id="dataVencimento" name="dataVencimento" [(ngModel)]="despesa.dataVencimento">
                        </div>
                    </div>
                    <div class="form-check"style="top: 37px">
                        <input class="form-check-input" type="checkbox" value="" id="despesaPaga" name="despesaPaga" [(ngModel)]="despesaPaga">
                        <label class="form-check-label" for="despesaPaga">Despesa Paga?</label>
                    </div>
                    <div class="col-sm">
                        <div class="form-group" *ngIf="despesaPaga" >
                            <label for="dataPagamento">Data Pagamento</label>
                            <input type="text" class="form-control" id="dataPagamento" name="dataPagamento" [(ngModel)]="despesa.dataPagamento">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="dataPagamento">Descrição</label>
                            <textarea class="form-control" id="despesaDescricao" [(ngModel)]="despesa.descricao"></textarea>
                        </div>
                    </div>
                </div>
				
		    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="voltarTela()" *ngIf="!modalTela1">voltar</button>
                <button type="button" class="btn btn-secondary" (click)="avancarTela()" *ngIf="modalTela2">Adicionar mais despesas</button>
                <button type="button" class="btn btn-primary" (click)="avancarTela()" *ngIf="!modalTela2">Avançar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
	    </div>
    </div>
</div>

<modal-cadastro-imovel
    [imovel]="imovel"
    [listaProprietarios]="listaProprietarios"
    [cep]="cep"
    (emitterUpdateListImovel)="receberEventoAtualizarLista()"></modal-cadastro-imovel>

